.app-container {
  width: 960px;
  min-height: calc(100vh - 100px);

  margin: 0 auto;
  padding: 0px;

  background-color: #f3f7fa;
}

.tickets-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.tickets-subcontainer {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.logo-container {
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.panel-color-and-border {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.right-container {
  width: 502px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  align-items: stretch;
}

.height0 {
  height: 0;
}
