.sort-tabs-group {
  flex-shrink: 0;
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: stretch;
  background-color: #fff;
  border: 1px solid #dfe5ec;
  border-radius: 5px;
}

.first-tab {
  height: 50px;
  width: 33.33%;
  color: #4a4a4a;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.first-tab:hover {
  color: #2196f3;
}
.middle-tab {
  height: 50px;
  width: 33.33%;
  color: #4a4a4a;
  text-align: center;
  border-left: 1px solid #dfe5ec;
  border-right: 1px solid #dfe5ec;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.middle-tab:hover {
  color: #2196f3;
}
.last-tab {
  height: 50px;
  width: 33.33%;

  color: #4a4a4a;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.last-tab:hover {
  color: #2196f3;
}

.active-first-tab {
  color: #fff;
  background-color: #2196f3;
  border-radius: 5px 0 0 5px;
}
.active-first-tab:hover {
  filter: brightness(0.9);
  color: #fff !important;
}
.active-middle-tab {
  color: #fff;
  background-color: #2196f3;
}
.active-middle-tab:hover {
  filter: brightness(0.9);
  color: #fff !important;
}
.active-last-tab {
  color: #fff;
  background-color: #2196f3;
  border-radius: 0 5px 5px 0;
}
.active-last-tab:hover {
  filter: brightness(0.9);
  color: #fff !important;
}
